node_modules/
.env.local
.next/
dist/
.DS_Store
*.tsbuildinfo
# pnpm
.pnp
.pnp.*
# coverage
coverage/
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# vercel
.vercel
# next
next-env.d.ts
/out/
/build
